<!-- views/eventosMateria.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos de la Materia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <img src="https://uvm.edu.ve/wp-content/uploads/2022/10/LOGO-RIF.png" alt="Logo UVM">
    <h1>Sistema de Gestión de la Universidad Valle del Momboy</h1>
  </header>

    <h3>Eventos de la Materia</h3>
        <table>
            <tr>
                <th>ID_EVENTO</th>
                <th>TIPO</th>
                <th>FECHA</th>
                <th>MATERIA_ID</th>
                <th>SECCION_ID</th>
            </tr>
            <% eventos.forEach(evento => { %>
                <tr>
                    <td><%= evento.id %></td>
                    <td><%= evento.tipo %></td>
                    <td><%= evento.fecha %></td>
                    <td><%= evento.materia_id %></td>
                    <td><%= evento.seccion_id %></td>
                </tr>
            <% }) %>
        </table>
  <footer>
      <p class="footer-p">Verónica Parra 30.600.365<br>Cristhofer Solarte 30.959.561<br> <em>&copy; Backend 2024. Unidad II</em><br><a href="http://localhost:3000/">Principal</a></p>
  </footer>
</body>
</html>
